<div class="sideboard">

	<section class="sideboard-minimal">

		<!-- Logged Out Minimal Nav -->
		<ul class="minimal-nav" ng-if="!vm.userData.loggedin">
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.params.navParent === 'home'}"
				ng-click="vm.toggleFullNav('home')">

				<span class="icon-home nav-icon"></span>
			</li>
		</ul>

		<!-- Logged In Minimal Nav -->
		<ul class="minimal-nav" ng-if="vm.userData.loggedin">
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.params.navParent === 'dashboard'}"
				ng-click="vm.toggleFullNav('dashboard')">

				<span class="icon-dashboard nav-icon"></span>
			</li>
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.params.navParent === 'account'}"
				ng-click="vm.toggleFullNav('account')">

				<span>A</span>
			</li>
		</ul>
	</section>

	<section class="sideboard-expanded" ng-class="{'active': vm.isSideboardOpen}">

		<!-- Logged Out Full Nav -->
		<ul class="full-nav" ng-if="!vm.userData.loggedin">
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.name === 'home'}"
				ng-if="vm.currentMiniNavItem === 'home'"
				ng-click="vm.navigate('home')">

				<span translate="budget.SIDEBOARD.VIEW.HOME"></span>
			</li>
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.name === 'login'}"
				ng-if="vm.currentMiniNavItem === 'home'"
				ng-click="vm.navigate('login')">

				<span translate="budget.SIDEBOARD.VIEW.LOGIN"></span>
			</li>
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.name === 'signup'}"
				ng-if="vm.currentMiniNavItem === 'home'"
				ng-click="vm.navigate('signup')">

				<span translate="budget.SIDEBOARD.VIEW.SIGNUP"></span>
			</li>
		</ul>

		<!-- Logged In Full Nav -->
		<ul class="full-nav" ng-if="vm.userData.loggedin">
			<li class="sidebar-nav-item"
				ng-class="{'selected': vm.stateDetails.params.navParent === 'dashboard'}"
				ng-if="vm.currentMiniNavItem === 'dashboard'"
				ng-click="vm.navigate('dashboard')">

				<span>Dashboard needs translation</span>
			</li>
			<li class="sidebar-nav-item"
				ng-repeat="account in vm.userAccounts"
				ng-class="{'selected': vm.checkAccountActive(account.id)}"
				ng-if="vm.currentMiniNavItem === 'account'"
				ng-click="vm.navigate('account.view.transactions', account.id)">

				<span>{{account.acct_name}}</span>
			</li>
		</ul>
	</section>
</div>
