/*****************************************************************************
**
**		Signup Module
**
*****************************************************************************/
.signup-module {

	.mod-header {
		background: $blue;
		border-radius: budget-calc(4, 16, em) budget-calc(4, 16, em) 0 0;

		h5 {
			color: $white;
		}
	}

	.mod-body {
		background: $white;
	}
}
