<div class="login-tooltip-module general-module">
	<div class="mod-header-wrapper">
		<div class="mod-header">
			<h5 translate="budget.LOGIN_FORM.HEADER"></h5>
		</div>
	</div>
	<div class="mod-body-wrapper">
		<div class="mod-body">
			<form class="login-form" name="loginForm" novalidate>
				<ul>
					<li>
						<div class="input-wrapper">
							<input type="email"
								   id="login-email-input"
								   placeholder="{{'budget.LOGIN_FORM.EMAIL_PLACEHOLDER' | translate}}"
								   name="email"
								   ng-model="vm.loginData.userEmail"
								   required
								   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2500, 'blur': 0 } }"
								   ng-class="{'ng-invalid': vm.loginData.loginError}"
								   ng-focus="vm.loginData.loginError = false" />
							<div class="tooltip tooltip-right tooltip-error no-break" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">
								<p class="error" ng-if="loginForm.email.$error.required && loginForm.email.$dirty" translate="budget.LOGIN_FORM.ERROR_EMAIL_REQUIRED"></p>
								<p class="error" ng-if="loginForm.email.$error.email && loginForm.email.$dirty" translate="budget.LOGIN_FORM.ERROR_EMAIL_INVALID"></p>
							</div>
						</div>
					</li>
					<li>
						<div class="input-wrapper">
							<input type="password"
								   placeholder="{{'budget.LOGIN_FORM.PASSWORD_PLACEHOLDER' | translate}}"
								   name="password"
								   ng-model="vm.loginData.userPassword"
								   required
								   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }"
								   ng-class="{'ng-invalid': vm.loginData.loginError}"
								   ng-focus="vm.loginData.loginError = false"
								   ng-keyup="loginForm.$valid && $event.keyCode == 13 && vm.login()"/>

							<div class="tooltip tooltip-right tooltip-error no-break" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">
								<p class="error" ng-show="loginForm.password.$error.required && loginForm.password.$dirty" translate="budget.LOGIN_FORM.ERROR_PASSWORD_REQUIRED"></p>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class="mod-footer-wrapper">
		<div class="mod-footer">
			<div class="form-action-container"
				 ng-class="{'disabled': loginForm.$invalid || vm.loginData.loginError,
				 			'processing': vm.loginData.processing,
				 			'valid': loginForm.$valid && !vm.loginData.loginError}"
				 ng-click="vm.login(loginForm.$invalid)">
				<p class="action-text">
					<span translate="budget.LOGIN_FORM.LOGIN_BUTTON"></span>
					<svg version="1.1" id="Layer_1" class="chevron-right" xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20">
						<g transform="translate(2043.3,-1800)">
							<path class="chevron-right-svg" d="M-2043.3,1818.5l-0.4-0.4l4.1-4.1l4.1-4.1l-4.1-4.1l-4.1-4.1l0.4-0.4l0.4-0.4l4.5,4.5l4.5,4.5l-4.5,4.5
								l-4.5,4.5L-2043.3,1818.5L-2043.3,1818.5z"/>
						</g>
					</svg>
				</p>

				<div class="tooltip tooltip-right tooltip-error no-break" ng-if="vm.loginData.loginError">
					<p class="error" translate="budget.LOGIN_FORM.ERROR_LOGIN_ERROR"></p>
				</div>
			</div>
		</div>
	</div>
</div>
