<div class="user-nav-module general-module">
	<div class="mod-header-wrapper">
		<div class="mod-header">
			<h5 translate="budget.USER_NAV_TOOLTIP.HEADER"></h5>
		</div>
	</div>
	<div class="mod-body-wrapper">
		<div class="mod-body">
			<ul class="nav-options-list">
				<li class="nav-options-item" ng-click="vm.navigate('manageAccount')">
					<p translate="budget.USER_NAV_TOOLTIP.MANAGE_ACCOUNT"></p>
				</li>
				<li class="nav-options-item" ng-click="vm.logout()">
					<p translate="budget.USER_NAV_TOOLTIP.LOGOUT"></p>
				</li>
			</ul>
		</div>
	</div>
</div>
